In [11]:
import yfinance as yf

In [12]:
tickers = [
    "AAPL", "NVDA", "MSFT", "AMZN", "META", "AVGO", "GOOGL", "TSLA", "GOOG", "BRK-B",
"JPM", "LLY", "V", "UNH", "XOM", "COST", "MA", "WMT", "NFLX", "HD",
"PG", "JNJ", "ABBV", "CRM", "BAC", "ORCL", "WFC", "CVX", "CSCO", "KO",
"ACN", "PLTR", "IBM", "PM", "ABT", "GE", "MCD", "LIN", "MRK", "ISRG",
"TMO", "NOW", "GS", "ADBE", "PEP", "DIS", "QCOM", "AMD", "T", "CAT",
"AXP", "RTX", "MS", "VZ", "UBER", "INTU", "TXN", "SPGI", "BKNG", "AMGN",
"BSX", "C", "AMAT", "UNP", "PFE", "PGR", "LOW", "BLK", "NEE", "TJX",
"HON", "BA", "SYK", "CMCSA", "FI", "DHR", "COP", "PANW", "ETN", "SBUX",
"ADP", "TMUS", "ANET", "BX", "SCHW", "VRTX", "DE", "GILD", "MDT", "BMY",
"MMC", "PLD", "LRCX", "MU", "GEV", "ADI", "CEG", "KLAC", "CB", "CRWD",
"KKR", "ICE", "LMT", "SO", "ELV", "MO", "EQIX", "DUK", "AMT", "PH",
"CME", "APH", "INTC", "WELL", "NKE", "CDNS", "UPS", "AON", "SHW", "WM",
"SNPS", "MMM", "CI", "TT", "AJG", "MSI", "CMG", "MCO", "PYPL", "PNC",
"MDLZ", "ZTS", "MCK", "COF", "ORLY", "TDG", "EOG", "USB", "REGN", "APO",
"EMR", "MAR", "CL", "CTAS", "FTNT", "ITW", "APD", "WMB", "CVS", "BDX",
"GD", "ADSK", "HLT", "NOC", "RCL", "CSX", "TFC", "ECL", "BK", "ROP",
"OKE", "TGT", "JCI", "ABNB", "SLB", "FDX", "HCA", "AZO", "WDAY", "NSC",
"VST", "PCAR", "SPG", "CARR", "FCX", "TRV", "AEP", "NXPI", "NEM", "KMI",
"HWM", "SRE", "DLR", "CPRT", "AMP", "AFL", "CMI", "GM", "PSX", "MPC",
"ALL", "AXON", "DFS", "URI", "MET", "PSA", "O", "ROST", "PAYX", "AIG",
"BKR", "D", "GWW", "PWR", "MSCI", "FICO", "RSG", "LULU", "TRGP", "TEL",
"FIS", "KMB", "KR", "VLO", "CBRE", "COR", "CTSH", "AME", "CTVA", "DAL",
"FAST", "EW", "EXC", "PEG", "VRSK", "YUM", "A", "GLW", "IT", "HES",
"GEHC", "PRU", "LHX", "KVUE", "CCI", "XEL", "OTIS", "IDXX", "DHI", "ODFL",
"IR", "F", "WAB", "IQV", "VMC", "RMD", "UAL", "KDP", "TTWO",
"DELL", "SYY", "DXCM", "MPWR", "ACGL", "PCG", "ROK", "NDAQ", "ED", "MNST",
"CHTR", "EXR", "GRMN", "MTB", "WTW", "EBAY", "OXY", "HIG", "MLM", "NUE",
"GIS", "HUM", "WEC", "XYL", "EQT", "DD", "HPQ", "VICI", "CSGP", "EA",
"EFX", "IRM", "AVB", "CAH", "KEYS", "FANG", "ANSS", "CNC", "RJF", "GDDY",
"LEN", "TSCO", "FITB", "IP", "STT", "BR", "MTD", "MCHP", "FTV", "DOV",
"GPN", "HPE", "CCL", "DOW", "SW", "PPG", "TYL", "CPAY", "TPL", "AEE",
"BRO", "STZ", "DTE", "KHC", "CHD", "CDW", "SYF", "PPL", "NTAP", "VTR",
"EXPE", "VLTO", "DECK", "TROW", "HBAN", "WAT", "EQR", "AWK", "WDC", "TDY",
"WST", "LYV", "NVR", "DRI", "HAL", "HSY", "DVN", "WBD", "STE", "ES",
"K", "SBAC", "ATO", "ADM", "NTRS", "CBOE", "RF", "WY", "PHM", "IFF",
"SMCI", "HUBB", "NRG", "CINF", "CNP", "CTRA", "CFG", "BIIB", "STX",
"CMS", "LH", "FE", "PTC", "PODD", "ON", "ZBH", "LYB", "EIX", "MKC",
"LDOS", "STLD", "JBL", "ESS", "LII", "PKG", "COO", "TER", "ZBRA", "DGX",
"TPR", "VRSN", "WRB", "MAA", "CLX", "TRMB", "LUV", "INVH", "BLDR", "FFIV",
"SNA", "NI", "PFG", "ULTA", "FDS", "FSLR", "KEY", "BBY", "MAS", "J",
"TSN", "GPC", "DPZ", "MOH", "PNR", "DG", "OMC", "EL", "BAX", "EXPD",
"L", "LNT", "AKAM", "GEN", "EVRG", "CF", "HOLX", "APTV", "BALL", "KIM",
"DLTR", "ARE", "IEX", "ALGN", "EPAM", "AVY", "AMCR", "LVS", "EG", "ROL",
"RVTY", "TXT", "DOC", "JBHT", "KMX", "SWK", "UDR", "CPT", "POOL", "VTRS",
"JKHY", "REG", "JNPR", "NDSN", "FOXA", "CAG", "CHRW", "NCLH", "HST",
"EMN", "ALLE", "NWSA", "TECH", "SJM", "INCY", "AIZ", "UHS", "MRNA", "RL",
"DAY", "BXP", "SWKS", "SOLV", "GL", "IPG", "ERIE", "PNW", "PAYC", "HSIC",
"LKQ", "BG", "TAP", "ALB", "MOS", "GNRC", "APA", "ENPH", "FRT", "MTCH",
"IVZ", "HRL", "LW", "CRL", "TFX", "AOS", "DVA", "HAS", "MGM", "AES",
"CZR", "MKTX", "CPB", "CE", "WYNN", "WBA", "FOX", "HII", "BWA", "PARA",
"BEN", "MHK", "BF-B", "FMC", "NWS"
]

In [13]:
start_date = '2000-01-01'
end_date = '2024-01-01'

In [14]:
prices_df = yf.download(tickers, start=start_date, end=end_date, auto_adjust=True)['Close']
prices_df

[*********************100%***********************]  502 of 502 completed
ERROR:yfinance:
3 Failed downloads:
ERROR:yfinance:['GEV', 'SW', 'SOLV']: YFPricesMissingError('possibly delisted; no price data found  (1d 2000-01-01 -> 2024-01-01) (Yahoo error = "Data doesn\'t exist for startDate = 946702800, endDate = 1704085200")')

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,43.290878,0.842150,NaN,NaN,8.206902,1.215037,NaN,16.274670,27.973972,6.179293,...,NaN,11.204356,NaN,6.735724,17.730227,NaN,4.590249,NaN,25.027779,NaN
2000-01-04,39.983917,0.771149,NaN,NaN,7.972416,1.208433,NaN,14.909400,26.558802,6.114929,...,NaN,10.783435,NaN,6.890822,17.390633,NaN,4.497982,NaN,24.666668,NaN
2000-01-05,37.503735,0.782433,NaN,NaN,7.957760,1.320692,NaN,15.204176,26.946503,6.018376,...,NaN,11.354686,NaN,7.156706,18.338690,NaN,4.521050,NaN,25.138889,NaN
2000-01-06,36.075710,0.714723,NaN,NaN,8.236212,1.307485,NaN,15.328291,26.209854,6.050559,...,NaN,11.885835,NaN,7.090237,19.286743,NaN,4.482606,NaN,23.777779,NaN
2000-01-07,39.082035,0.748578,NaN,NaN,8.324142,1.380124,NaN,16.072981,26.946503,6.147112,...,NaN,11.494987,NaN,7.090237,19.230154,NaN,4.382651,NaN,23.513889,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,138.080872,192.444595,146.723541,140.800003,105.848412,70.214340,348.842255,598.750000,192.972641,68.208183,...,235.660049,33.126499,89.192268,58.772793,97.674706,111.066025,126.863899,119.038559,269.410004,192.485916
2023-12-26,138.318268,191.897873,146.420486,138.720001,106.042587,69.900551,347.838348,598.260010,194.705566,69.095848,...,234.678467,33.386799,89.764397,58.952732,97.895142,112.032349,127.117630,120.126839,275.500000,192.999268
2023-12-27,138.328186,191.997253,146.666718,136.550003,106.586235,69.929077,348.222168,596.080017,195.175537,68.885857,...,234.884613,33.512135,89.399414,58.771278,97.435097,112.781723,127.683624,119.839928,275.790009,194.381348
2023-12-28,138.278732,192.424698,146.543610,137.000000,107.178436,70.423546,346.027466,595.520020,196.046906,68.981308,...,235.731705,33.839931,90.514084,59.105534,96.026184,112.722557,127.371384,120.334602,275.350006,194.638046
2023-12-29,137.779266,191.380966,146.751938,136.139999,106.858063,70.623230,345.358246,596.599976,194.402069,68.933586,...,237.583527,33.521778,89.872910,59.124630,95.824913,112.762001,127.507973,120.403847,273.329987,194.845367

In [17]:
returns_df = prices_df.copy().pct_change()
returns_df

<ipython-input-17-ab825a77e89e>:1: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  returns_df = prices_df.copy().pct_change()

Ticker,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,-0.076389,-0.084310,NaN,NaN,-0.028572,-0.005435,NaN,-0.083889,-0.050589,-0.010416,...,NaN,-0.037568,NaN,0.023026,-0.019153,NaN,-0.020101,NaN,-0.014428,NaN
2000-01-05,-0.062030,0.014633,NaN,NaN,-0.001838,0.092896,NaN,0.019771,0.014598,-0.015790,...,NaN,0.052975,NaN,0.038585,0.054515,NaN,0.005129,NaN,0.019144,NaN
2000-01-06,-0.038077,-0.086539,NaN,NaN,0.034991,-0.010000,NaN,0.008163,-0.027337,0.005347,...,NaN,0.046778,NaN,-0.009288,0.051697,NaN,-0.008503,NaN,-0.054144,NaN
2000-01-07,0.083334,0.047369,NaN,NaN,0.010676,0.055556,NaN,0.048583,0.028106,0.015958,...,NaN,-0.032883,NaN,0.000000,-0.002934,NaN,-0.022299,NaN,-0.011098,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,0.004534,-0.005547,0.015401,-0.009079,0.005070,-0.004315,0.016344,-0.002316,0.004178,0.007472,...,0.007300,0.007329,-0.003307,0.008614,0.001769,0.008506,0.000154,0.007605,0.015454,0.001644
2023-12-26,0.001719,-0.002841,-0.002065,-0.014773,0.001834,-0.004469,-0.002878,-0.000818,0.008980,0.013014,...,-0.004165,0.007858,0.006415,0.003062,0.002257,0.008700,0.002000,0.009142,0.022605,0.002667
2023-12-27,0.000072,0.000518,0.001682,-0.015643,0.005127,0.000408,0.001103,-0.003644,0.002414,-0.003039,...,0.000878,0.003754,-0.004066,-0.003078,-0.004699,0.006689,0.004453,-0.002388,0.001053,0.007161
2023-12-28,-0.000358,0.002226,-0.000839,0.003295,0.005556,0.007071,-0.006303,-0.000939,0.004465,0.001386,...,0.003606,0.009781,0.012468,0.005687,-0.014460,-0.000525,-0.002445,0.004128,-0.001595,0.001321
2023-12-29,-0.003612,-0.005424,0.001422,-0.006277,-0.002989,0.002835,-0.001934,0.001813,-0.008390,-0.000692,...,0.007856,-0.009402,-0.007084,0.000323,-0.002096,0.000350,0.001072,0.000575,-0.007336,0.001065

In [21]:
import pandas as pd
returns_df.to_csv('returns.csv')