In [98]:
import json
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

from scipy.optimize import minimize
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [99]:
data = pd.read_csv('returns.csv', index_col=0)
data = data[1:]

#rf_and_factors = pd.read_csv('/Users/santi/Downloads/F-F_Research_Data_Factors.CSV', index_col=0)
#rf_and_factors.index = pd.to_datetime(rf_and_factors.index, format='%y/%m')
#rf_and_factors.head()

In [100]:
#fidn the winners and losers based on a 36 month window
data.index = pd.to_datetime(data.index)
monthly_ret_df = ((1 + data).resample("M").prod() - 1)
monthly_ret_df

,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-31,-0.080730,-0.073144,0.000000,0.000000,-0.065070,0.271739,0.000000,-0.160153,0.036729,-0.020833,...,0.000000,-0.173207,0.000000,0.013158,0.058261,0.000000,-0.232831,0.000000,0.051054,0.000000
2000-02-29,0.569405,0.104820,0.000000,0.000000,0.013436,0.042735,0.000000,0.852441,0.681818,-0.140034,...,0.000000,-0.105665,0.000000,-0.087663,-0.086158,0.000000,-0.069869,0.000000,0.124604,0.000000
2000-03-31,0.001204,0.184841,0.000000,0.000000,0.066288,0.073771,0.000000,0.091566,0.023848,0.024845,...,0.000000,0.110841,0.000000,0.131673,0.035684,0.000000,0.166666,0.000000,-0.248826,0.000000
2000-04-30,-0.147836,-0.086516,0.000000,0.000000,0.097843,-0.060115,0.000000,0.086468,-0.045807,-0.036364,...,0.000000,-0.063596,0.000000,0.116965,-0.004006,0.000000,0.090544,0.000000,0.140000,0.000000
2000-05-31,-0.169253,-0.322922,0.000000,0.000000,0.058536,-0.025380,0.000000,-0.069251,0.002441,0.207111,...,0.000000,-0.063303,0.000000,0.014327,0.078226,0.000000,-0.134687,0.000000,-0.157895,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-31,-0.005748,-0.042384,-0.017516,-0.135620,-0.075721,-0.010683,0.023455,0.024113,-0.088959,-0.061648,...,-0.021625,-0.032910,-0.067278,-0.089271,0.045333,-0.078713,-0.055813,-0.137749,-0.106994,0.012866
2023-09-30,-0.076402,-0.088678,0.014289,0.043025,-0.058795,0.037080,-0.051456,-0.088390,-0.032224,-0.048928,...,0.014668,-0.063817,-0.088479,0.010616,0.057469,-0.120823,-0.034317,-0.055879,-0.139922,-0.086767
2023-10-31,-0.073704,-0.002570,-0.043384,-0.137891,-0.018344,0.087442,-0.028615,0.043460,-0.101433,-0.051047,...,0.128876,-0.064253,-0.050103,0.035827,-0.099762,0.027573,-0.032656,-0.069595,-0.114573,-0.095437
2023-11-30,0.236335,0.113780,0.008571,0.068053,0.103014,-0.034495,0.121344,0.148386,0.165575,0.036567,...,0.044131,0.099304,-0.035476,0.026489,-0.020506,0.127583,0.043719,0.113974,0.131548,0.125287
2023-12-31,0.089712,0.013583,0.088349,0.077568,0.055422,-0.112558,0.053341,-0.023584,0.087881,-0.020480,...,-0.017257,0.109091,0.079247,0.026159,-0.026864,0.087796,0.040701,0.048429,0.153388,0.117168

In [101]:
def rolling_36m_avg_and_rank(ret_df, window = 36, min_periods = 36):


    roll_avg = (
        ret_df
        .rolling(window=window, min_periods=min_periods)
        .mean()
    )

    def rank_row(row):
        mask = (row.notna()) & (row != 0)
        ranked = row[mask].rank(method='first', ascending=False)
        return ranked.reindex(row.index)

    rank_df = roll_avg.apply(rank_row, axis=1)

    return roll_avg, rank_df

In [102]:
roll_avg, rank = rolling_36m_avg_and_rank(monthly_ret_df, window=36, min_periods=36)
roll_avg = roll_avg[35:]
roll_avg.head(100)

,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2002-12-31,-0.015859,-0.016192,0.0,0.0,0.008445,0.031417,0.010100,0.013257,0.004820,0.009852,...,0.017354,-0.002758,0.000237,0.003351,3.251858e-06,0.0,0.013447,0.010147,0.009136,0.0
2003-01-31,-0.015906,-0.014102,0.0,0.0,0.009104,0.023290,0.007877,0.019534,0.003870,0.009646,...,0.014816,0.001622,0.001593,0.003036,-2.243166e-03,0.0,0.018721,0.009799,0.007020,0.0
2003-02-28,-0.037251,-0.015757,0.0,0.0,0.006909,0.022776,0.005846,-0.003009,-0.008999,0.011011,...,0.013750,0.005598,0.002542,0.005647,2.321100e-04,0.0,0.021417,0.012096,0.007149,0.0
2003-03-31,-0.037390,-0.022501,0.0,0.0,0.006619,0.023108,0.006135,-0.002177,-0.011242,0.010066,...,0.016825,0.001394,0.004847,0.006298,2.361645e-07,0.0,0.017394,0.014749,0.014642,0.0
2003-04-30,-0.027220,-0.019941,0.0,0.0,0.006316,0.025441,0.007067,-0.001245,-0.004293,0.011796,...,0.020325,0.004415,0.007733,0.004588,3.102099e-04,0.0,0.015302,0.013761,0.011732,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-11-30,0.005728,0.023040,0.0,0.0,-0.001811,0.008188,0.010117,-0.004205,0.011020,0.000493,...,0.000044,-0.003044,0.021348,0.005617,-3.544638e-03,0.0,0.013180,-0.002821,0.002760,0.0
2010-12-31,0.011612,0.021641,0.0,0.0,-0.000318,0.007269,0.012250,-0.001616,0.011851,-0.006166,...,0.003913,0.000472,0.025342,0.006353,-3.534325e-03,0.0,0.011771,-0.000938,0.006729,0.0
2011-01-31,0.014058,0.031880,0.0,0.0,-0.001835,0.007289,0.015045,0.005503,0.015633,-0.002308,...,0.008452,0.008774,0.027977,0.008616,1.706592e-03,0.0,0.013491,-0.003137,0.010588,0.0
2011-02-28,0.016890,0.035139,0.0,0.0,0.001274,0.008777,0.014544,0.007740,0.017795,0.000873,...,0.011127,0.013077,0.033002,0.010297,2.985272e-03,0.0,0.015376,-0.000631,0.007099,0.0
2011-03-31,0.019380,0.030663,0.0,0.0,0.000992,0.011368,0.016491,0.005059,0.014716,0.002426,...,0.011512,0.011550,0.033975,0.010033,3.306373e-03,0.0,0.013730,-0.002386,0.008528,0.0

In [103]:
rank = rank[35:]
rank.head(100)

,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2002-12-31,359.0,360.0,NaN,NaN,212.0,33.0,192.0,154.0,242.0,196.0,...,109.0,302.0,285.0,256.0,287.0,NaN,148.0,191.0,206.0,NaN
2003-01-31,358.0,354.0,NaN,NaN,202.0,62.0,211.0,83.0,252.0,199.0,...,130.0,269.0,270.0,257.0,300.0,NaN,90.0,195.0,216.0,NaN
2003-02-28,374.0,349.0,NaN,NaN,229.0,67.0,236.0,300.0,334.0,187.0,...,152.0,241.0,267.0,239.0,280.0,NaN,79.0,173.0,228.0,NaN
2003-03-31,375.0,363.0,NaN,NaN,201.0,48.0,208.0,280.0,333.0,178.0,...,99.0,254.0,224.0,206.0,264.0,NaN,95.0,119.0,120.0,NaN
2003-04-30,371.0,364.0,NaN,NaN,229.0,47.0,217.0,298.0,316.0,167.0,...,72.0,247.0,205.0,245.0,286.0,NaN,119.0,142.0,168.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-11-30,225.0,27.0,NaN,NaN,362.0,182.0,155.0,391.0,141.0,327.0,...,335.0,380.0,32.0,226.0,383.0,NaN,102.0,377.0,287.0,NaN
2010-12-31,158.0,44.0,NaN,NaN,367.0,232.0,144.0,383.0,154.0,416.0,...,302.0,358.0,32.0,252.0,394.0,NaN,155.0,376.0,243.0,NaN
2011-01-31,149.0,19.0,NaN,NaN,398.0,276.0,136.0,321.0,123.0,406.0,...,251.0,247.0,29.0,249.0,376.0,NaN,156.0,410.0,211.0,NaN
2011-02-28,130.0,17.0,NaN,NaN,391.0,282.0,168.0,304.0,114.0,394.0,...,240.0,197.0,23.0,260.0,372.0,NaN,155.0,407.0,314.0,NaN
2011-03-31,107.0,35.0,NaN,NaN,394.0,234.0,142.0,350.0,174.0,378.0,...,233.0,231.0,20.0,263.0,370.0,NaN,194.0,420.0,298.0,NaN

In [114]:
def build_long_short_weights(rank_df, top_pct = 0.1):

    weight_list = []

    for date, ranks in rank_df.iterrows():
        valid_ranks = ranks.dropna()
        print(valid_ranks)

        if valid_ranks.empty:
            weight_list.append(pd.Series(0, index=ranks.index))
            continue

        n_assets = len(valid_ranks)
        n_long = max(1, int(n_assets * top_pct))
        n_short = max(1, int(n_assets * top_pct))

        long_assets = valid_ranks.nlargest(n_long).index
        print(long_assets)
        short_assets = valid_ranks.nsmallest(n_short).index

        weights = pd.Series(0, index=ranks.index)

        if n_long > 0:
            weights.loc[long_assets] = 1.0 / n_long
        if n_short > 0:
            weights.loc[short_assets] = -1.0 / n_short

        weight_list.append(weights)

    weights_df = pd.DataFrame(weight_list, index=rank_df.index)
    return weights_df


weights_df = build_long_short_weights(rank)
weights_df = weights_df[35:]
weights_df.head(100)

A       359.0
AAPL    360.0
ABT     212.0
ACGL     33.0
ACN     192.0
        ...
XEL     256.0
XOM     287.0
YUM     148.0
ZBH     191.0
ZBRA    206.0
Name: 2002-12-31 00:00:00, Length: 381, dtype: float64
Index(['AKAM', 'VRSN', 'ON', 'MSI', 'WMB', 'QCOM', 'PTC', 'EQIX', 'CCI', 'IPG',
       'GLW', 'AES', 'CSCO', 'HD', 'MCD', 'BMY', 'F', 'BKNG', 'TER', 'SBAC',
       'TXN', 'AAPL', 'A', 'CMCSA', 'GE', 'AMZN', 'AMT', 'INCY', 'EL', 'CMS',
       'HPQ', 'SCHW', 'MSFT', 'INTC', 'ORCL', 'DIS', 'MU', 'NFLX'],
      dtype='object')
A       358.0
AAPL    354.0
ABT     202.0
ACGL     62.0
ACN     211.0
        ...
XEL     257.0
XOM     300.0
YUM      90.0
ZBH     195.0
ZBRA    216.0
Name: 2003-01-31 00:00:00, Length: 381, dtype: float64
Index(['AKAM', 'ON', 'VRSN', 'EQIX', 'WMB', 'MSI', 'BKNG', 'SBAC', 'PTC',
       'GLW', 'CCI', 'TER', 'CMS', 'IPG', 'CSCO', 'AES', 'MCD', 'HD', 'INCY',
       'BMY', 'QCOM', 'F', 'TXN', 'A', 'SCHW', 'INTC', 'DIS', 'AAPL', 'GE',
       'AMAT', 'EIX', 'JPM', 'NTRS', 'NDAQ', 'RVTY', 'HPQ', 'RCL', 'JCI'],
      dtype='object')
A       374.0
AAPL    349.0
ABT     229.0
ACGL     67.0
ACN     236.0
        ...
XEL     239.0
XOM     280.0
YUM      79.0
ZBH     173.0
ZBRA    228.0
Name: 2003-02-28 00:00:00, Length: 381, dtype: float64
Index(['AKAM', 'INCY', 'VRSN', 'MSI', 'ON', 'PTC', 'EQIX', 'A', 'WMB', 'TER',
       'SBAC', 'TXN', 'IPG', 'CCI', 'CSCO', 'GLW', 'BKNG', 'QCOM', 'MU', 'AES',
       'SCHW', 'AMT', 'AMAT', 'HPQ', 'MCD', 'HD', 'CMS', 'SWKS', 'BMY', 'ORCL',
       'F', 'RVTY', 'AAPL', 'INTC', 'NDAQ', 'PWR', 'CNP', 'DIS'],
      dtype='object')
A       375.0
AAPL    363.0
ABT     201.0
ACGL     48.0
ACN     208.0
        ...
XEL     206.0
XOM     264.0
YUM      95.0
ZBH     119.0
ZBRA    120.0
Name: 2003-03-31 00:00:00, Length: 381, dtype: float64
Index(['AKAM', 'INCY', 'ON', 'VRSN', 'EQIX', 'MSI', 'A', 'SCHW', 'CSCO', 'IPG',
       'MU', 'PTC', 'BKNG', 'TXN', 'WMB', 'TER', 'PWR', 'QCOM', 'AAPL', 'F',
       'MCD', 'GLW', 'AMAT', 'INTC', 'JCI', 'ORCL', 'HD', 'CMS', 'AES', 'CCI',
       'HPQ', 'BMY', 'DIS', 'NTRS', 'NDAQ', 'AMT', 'RVTY', 'IVZ'],
      dtype='object')
A       371.0
AAPL    364.0
ABT     229.0
ACGL     47.0
ACN     217.0
        ...
XEL     245.0
XOM     286.0
YUM     119.0
ZBH     142.0
ZBRA    168.0
Name: 2003-04-30 00:00:00, Length: 381, dtype: float64
Index(['INCY', 'ON', 'TER', 'EQIX', 'AKAM', 'MSI', 'MU', 'PWR', 'VRSN', 'TXN',
       'A', 'CSCO', 'SCHW', 'GLW', 'IPG', 'QCOM', 'NDAQ', 'AAPL', 'AMAT',
       'ORCL', 'HPQ', 'DIS', 'AMD', 'MCD', 'SWKS', 'F', 'INTC', 'CCI', 'BKNG',
       'REGN', 'JCI', 'HD', 'NTRS', 'MLM', 'WMB', 'GE', 'CMS', 'BMY'],
      dtype='object')
A       372.0
AAPL    330.0
ABT     239.0
ACGL     45.0
ACN     212.0
        ...
XEL     233.0
XOM     311.0
YUM      73.0
ZBH     172.0
ZBRA    102.0
Name: 2003-05-31 00:00:00, Length: 381, dtype: float64
Index(['MSI', 'MU', 'INCY', 'VRSN', 'TXN', 'NDAQ', 'TER', 'SCHW', 'IPG', 'A',
       'CSCO', 'AMD', 'DIS', 'GLW', 'F', 'ORCL', 'MCD', 'INTC', 'AMAT', 'AKAM',
       'BMY', 'GE', 'WMB', 'PWR', 'NTRS', 'JCI', 'HPQ', 'QCOM', 'PTC', 'ON',
       'CMS', 'ADP', 'PFE', 'IT', 'MOS', 'HAL', 'CVS', 'DOV'],
      dtype='object')
A       369.0
AAPL    350.0
ABT     263.0
ACGL     56.0
ACN     219.0
        ...
XEL     223.0
XOM     294.0
YUM      63.0
ZBH     179.0
ZBRA     81.0
Name: 2003-06-30 00:00:00, Length: 381, dtype: float64
Index(['INCY', 'VRSN', 'MU', 'AKAM', 'SCHW', 'GLW', 'TXN', 'MSI', 'CSCO',
       'ORCL', 'IPG', 'AMD', 'A', 'HPQ', 'TER', 'INTC', 'AMAT', 'DIS', 'TECH',
       'ON', 'NDAQ', 'BMY', 'PTC', 'GE', 'CCI', 'WMB', 'F', 'VRTX', 'MOS',
       'PWR', 'WAT', 'AAPL', 'MS', 'JCI', 'ADP', 'JNPR', 'CI', 'CMS'],
      dtype='object')
A       318.0
AAPL    339.0
ABT     274.0
ACGL     67.0
ACN     184.0
        ...
XEL     250.0
XOM     309.0
YUM      46.0
ZBH     157.0
ZBRA    112.0
Name: 2003-07-31 00:00:00, Length: 382, dtype: float64
Index(['INCY', 'VRSN', 'MSI', 'SCHW', 'MU', 'GLW', 'TXN', 'CSCO', 'CMS',
       'ORCL', 'AKAM', 'WMB', 'IPG', 'TER', 'HPQ', 'JCI', 'AMD', 'F', 'GE',
       'ON', 'NDAQ', 'NTRS', 'DIS', 'BMY', 'CI', 'INTC', 'MOS', 'MS', 'PTC',
       'AES', 'VRTX', 'CNP', 'HD', 'SLB', 'T', 'LLY', 'HAL', 'AIG'],
      dtype='object')
A       358.0
AAPL    350.0
ABT     283.0
ACGL     58.0
ACN     140.0
        ...
XEL     281.0
XOM     297.0
YUM      66.0
ZBH     122.0
ZBRA    112.0
Name: 2003-08-31 00:00:00, Length: 382, dtype: float64
Index(['INCY', 'VRSN', 'VRTX', 'GLW', 'SCHW', 'MSI', 'MU', 'ORCL', 'CSCO',
       'AKAM', 'HPQ', 'CMS', 'PTC', 'WAT', 'NDAQ', 'NTRS', 'GE', 'TXN', 'IPG',
       'AES', 'MS', 'DUK', 'DIS', 'TER', 'A', 'JCI', 'JNPR', 'BMY', 'IVZ',
       'CNP', 'BK', 'INTC', 'AAPL', 'AIG', 'SLB', 'CI', 'MOS', 'F'],
      dtype='object')
A       345.0
AAPL    250.0
ABT     285.0
ACGL     68.0
ACN     121.0
        ...
XEL     286.0
XOM     314.0
YUM      74.0
ZBH     105.0
ZBRA     97.0
Name: 2003-09-30 00:00:00, Length: 382, dtype: float64
Index(['INCY', 'VRSN', 'VRTX', 'GLW', 'WAT', 'SCHW', 'ORCL', 'NTRS', 'CMS',
       'JNPR', 'DUK', 'MSI', 'RVTY', 'CNP', 'GE', 'BMY', 'CSCO', 'MOS', 'HPQ',
       'MU', 'IVZ', 'ADP', 'PTC', 'T', 'CI', 'DIS', 'IPG', 'NDAQ', 'F', 'AIG',
       'BK', 'AON', 'AES', 'BA', 'TDY', 'AKAM', 'JCI', 'A'],
      dtype='object')
A       336.0
AAPL    156.0
ABT     317.0
ACGL     58.0
ACN     117.0
        ...
XEL     264.0
XOM     329.0
YUM      56.0
ZBH      85.0
ZBRA     71.0
Name: 2003-10-31 00:00:00, Length: 383, dtype: float64
Index(['VRTX', 'INCY', 'VRSN', 'IPG', 'SCHW', 'PTC', 'BMY', 'DUK', 'ORCL', 'T',
       'MRK', 'RVTY', 'CMS', 'GE', 'IVZ', 'WAT', 'NTRS', 'GLW', 'AON', 'JCI',
       'ADP', 'CSCO', 'AIG', 'BK', 'NDAQ', 'CI', 'CNP', 'F', 'BA', 'HPQ',
       'MOS', 'MMC', 'MSI', 'VZ', 'JNPR', 'DIS', 'SLB', 'HON'],
      dtype='object')
A       341.0
AAPL    142.0
ABT     329.0
ACGL     67.0
ACN     111.0
        ...
XEL     288.0
XOM     334.0
YUM      94.0
ZBH      86.0
ZBRA     61.0
Name: 2003-11-30 00:00:00, Length: 383, dtype: float64
Index(['VRTX', 'INCY', 'BMY', 'MRK', 'IPG', 'DUK', 'SCHW', 'CMS', 'T', 'VRSN',
       'NTRS', 'CI', 'AIG', 'PTC', 'ADP', 'GE', 'BK', 'ORCL', 'NDAQ', 'WAT',
       'BA', 'RVTY', 'CNP', 'QCOM', 'VZ', 'IVZ', 'JCI', 'PAYX', 'KR', 'AEP',
       'CSCO', 'CVS', 'PFE', 'KO', 'HON', 'BAX', 'MU', 'AON'],
      dtype='object')
A       350.0
AAPL    103.0
ABT     281.0
ACGL     48.0
ACN      96.0
        ...
XEL     291.0
XOM     304.0
YUM      79.0
ZBH      71.0
ZBRA     44.0
Name: 2003-12-31 00:00:00, Length: 384, dtype: float64
Index(['VRTX', 'BMY', 'CMS', 'INCY', 'IPG', 'IVZ', 'WAT', 'SCHW', 'MRK',
       'RVTY', 'PTC', 'NTRS', 'CI', 'CNP', 'DUK', 'VRSN', 'ORCL', 'ADP', 'AIG',
       'CVS', 'GE', 'NDAQ', 'KR', 'MU', 'BK', 'T', 'SLB', 'CL', 'TAP', 'BA',
       'AON', 'PFE', 'LUV', 'BIIB', 'A', 'MDT', 'JCI', 'GLW'],
      dtype='object')
A       296.0
AAPL    225.0
ABT     297.0
ACGL     37.0
ACN     114.0
        ...
XEL     264.0
XOM     306.0
YUM      93.0
ZBH      51.0
ZBRA     97.0
Name: 2004-01-31 00:00:00, Length: 384, dtype: float64
Index(['VRTX', 'IVZ', 'CMS', 'PTC', 'IPG', 'BMY', 'SCHW', 'INCY', 'MU', 'NDAQ',
       'NTRS', 'WAT', 'MRK', 'BK', 'ORCL', 'T', 'CVS', 'VRSN', 'JCI', 'F',
       'DUK', 'CNP', 'RVTY', 'ADP', 'AON', 'KR', 'LUV', 'CI', 'GE', 'CDNS',
       'VZ', 'COST', 'BAX', 'PFE', 'AIG', 'CMCSA', 'HD', 'MS'],
      dtype='object')
A       222.0
AAPL    161.0
ABT     341.0
ACGL     48.0
ACN     127.0
        ...
XEL     311.0
XOM     304.0
YUM      98.0
ZBH      63.0
ZBRA     53.0
Name: 2004-02-29 00:00:00, Length: 385, dtype: float64
Index(['VRTX', 'BMY', 'CMS', 'IVZ', 'IPG', 'T', 'NDAQ', 'PTC', 'CNP', 'DUK',
       'MRK', 'F', 'CI', 'CVS', 'WAT', 'SCHW', 'CMCSA', 'NTRS', 'BK', 'GE',
       'ADP', 'BAX', 'WMB', 'MU', 'LUV', 'WBA', 'KR', 'PFE', 'BA', 'AON',
       'CDNS', 'JCI', 'INCY', 'PAYX', 'AEP', 'NI', 'AMGN', 'MDT'],
      dtype='object')
A       209.0
AAPL    210.0
ABT     349.0
ACGL     55.0
ACN     130.0
        ...
XEL     333.0
XOM     322.0
YUM      95.0
ZBH      70.0
ZBRA     48.0
Name: 2004-03-31 00:00:00, Length: 385, dtype: float64
Index(['VRTX', 'BMY', 'CMS', 'IPG', 'NDAQ', 'KR', 'MRK', 'DUK', 'F', 'CNP',
       'CVS', 'MU', 'CMCSA', 'T', 'IVZ', 'BK', 'WMB', 'CI', 'GE', 'NTRS', 'NI',
       'BAX', 'WBA', 'ADP', 'AEP', 'PFE', 'LUV', 'AON', 'BA', 'VZ', 'SCHW',
       'AIG', 'PNC', 'INCY', 'PTC', 'AIZ', 'ABT', 'HPQ'],
      dtype='object')
A       323.0
AAPL    253.0
ABT     307.0
ACGL     46.0
ACN      97.0
        ...
XEL     337.0
XOM     318.0
YUM     103.0
ZBH      45.0
ZBRA     43.0
Name: 2004-04-30 00:00:00, Length: 385, dtype: float64
Index(['VRTX', 'CMS', 'IVZ', 'MU', 'BMY', 'NDAQ', 'DUK', 'CNP', 'SCHW', 'IPG',
       'GE', 'BK', 'NTRS', 'MRK', 'CMCSA', 'PTC', 'F', 'AEP', 'VRSN', 'CVS',
       'WMB', 'JKHY', 'KR', 'NI', 'MSFT', 'T', 'WBA', 'JCI', 'VZ', 'BA', 'HD',
       'INCY', 'PFE', 'CDNS', 'TXN', 'DIS', 'LUV', 'IBM'],
      dtype='object')
A       292.0
AAPL    134.0
ABT     312.0
ACGL     56.0
ACN      98.0
        ...
XEL     324.0
XOM     305.0
YUM     119.0
ZBH      42.0
ZBRA     37.0
Name: 2004-05-31 00:00:00, Length: 385, dtype: float64
Index(['VRTX', 'IVZ', 'CMS', 'IPG', 'NDAQ', 'INCY', 'DUK', 'BMY', 'SCHW',
       'CNP', 'BK', 'GE', 'KR', 'NTRS', 'MU', 'PWR', 'T', 'PTC', 'CMCSA',
       'MRK', 'VZ', 'NI', 'VRSN', 'AEP', 'BAX', 'MSFT', 'JKHY', 'HD', 'DIS',
       'AMGN', 'PFE', 'PPL', 'LUV', 'JCI', 'F', 'BA', 'WBA', 'VMC'],
      dtype='object')
A       236.0
AAPL    148.0
ABT     313.0
ACGL     48.0
ACN      71.0
        ...
XEL     325.0
XOM     312.0
YUM     118.0
ZBH      36.0
ZBRA     39.0
Name: 2004-06-30 00:00:00, Length: 387, dtype: float64
Index(['VRTX', 'NDAQ', 'INCY', 'IVZ', 'BMY', 'CMS', 'IPG', 'PTC', 'MU', 'DUK',
       'CMCSA', 'SCHW', 'GE', 'BK', 'NTRS', 'KR', 'JKHY', 'ORCL', 'T', 'VRSN',
       'VZ', 'MSFT', 'REGN', 'HD', 'BAX', 'AIG', 'AEP', 'MRK', 'CRM', 'PFE',
       'IBM', 'NI', 'F', 'TRV', 'AMGN', 'PNC', 'AON', 'ADP'],
      dtype='object')
A       259.0
AAPL     84.0
ABT     339.0
ACGL     54.0
ACN      88.0
        ...
XEL     289.0
XOM     268.0
YUM     108.0
ZBH      46.0
ZBRA     28.0
Name: 2004-07-31 00:00:00, Length: 388, dtype: float64
Index(['VRTX', 'IVZ', 'NDAQ', 'BMY', 'INCY', 'MU', 'CMS', 'KR', 'IPG', 'CAH',
       'SCHW', 'NTRS', 'SWKS', 'DUK', 'CRM', 'HD', 'ORCL', 'T', 'CMCSA', 'BAX',
       'BK', 'MRK', 'VRSN', 'PFE', 'LUV', 'PTC', 'FITB', 'TXN', 'JKHY', 'MCK',
       'F', 'CDNS', 'GE', 'AON', 'REGN', 'STT', 'CSX', 'AEP'],
      dtype='object')
A       285.0
AAPL     69.0
ABT     313.0
ACGL     67.0
ACN      72.0
        ...
XEL     293.0
XOM     262.0
YUM      89.0
ZBH      48.0
ZBRA     37.0
Name: 2004-08-31 00:00:00, Length: 391, dtype: float64
Index(['VRTX', 'NDAQ', 'BMY', 'IVZ', 'IPG', 'MU', 'INCY', 'KR', 'CAH', 'CRM',
       'DUK', 'TER', 'CMS', 'BAX', 'CDNS', 'TXN', 'AON', 'REGN', 'CMCSA',
       'MRK', 'NTRS', 'SWKS', 'MCK', 'ADP', 'T', 'JKHY', 'RVTY', 'SCHW', 'COR',
       'GE', 'PFE', 'FITB', 'PAYX', 'AEP', 'BK', 'HD', 'LLY', 'LUV', 'PNC'],
      dtype='object')
A       209.0
AAPL     61.0
ABT     347.0
ACGL     75.0
ACN      70.0
        ...
XEL     338.0
XOM     278.0
YUM     101.0
ZBH      58.0
ZBRA     36.0
Name: 2004-09-30 00:00:00, Length: 391, dtype: float64
Index(['BMY', 'NDAQ', 'MRK', 'CAH', 'KR', 'IPG', 'IVZ', 'T', 'MCK', 'BAX',
       'AON', 'COR', 'PFE', 'DUK', 'CL', 'LLY', 'CMCSA', 'VRTX', 'FITB',
       'NTRS', 'CMS', 'CRM', 'VZ', 'KO', 'AIG', 'TRV', 'SCHW', 'AEP', 'MU',
       'ADP', 'EXR', 'UHS', 'LNT', 'AMGN', 'GE', 'JKHY', 'MDLZ', 'BK', 'AIZ'],
      dtype='object')
A       203.0
AAPL     33.0
ABT     348.0
ACGL    200.0
ACN     208.0
        ...
XEL     341.0
XOM     266.0
YUM     162.0
ZBH      66.0
ZBRA     55.0
Name: 2004-10-31 00:00:00, Length: 391, dtype: float64
Index(['NDAQ', 'BMY', 'MRK', 'VRTX', 'AON', 'IVZ', 'KR', 'MMC', 'PFE', 'IPG',
       'CDNS', 'CAH', 'MCK', 'CMS', 'MU', 'CL', 'LLY', 'BAX', 'AIG', 'SCHW',
       'DUK', 'AJG', 'TRV', 'CMCSA', 'REGN', 'T', 'KO', 'COR', 'JKHY', 'FITB',
       'NVDA', 'ADP', 'NTRS', 'IBM', 'RMD', 'SNPS', 'VZ', 'STE', 'CNP'],
      dtype='object')
A       307.0
AAPL     28.0
ABT     353.0
ACGL    185.0
ACN     278.0
        ...
XEL     309.0
XOM     221.0
YUM     124.0
ZBH      66.0
ZBRA     83.0
Name: 2004-11-30 00:00:00, Length: 394, dtype: float64
Index(['MRK', 'BMY', 'NDAQ', 'IPG', 'VRTX', 'MU', 'IVZ', 'MMC', 'PFE', 'KR',
       'AON', 'LLY', 'CDNS', 'BAX', 'CMS', 'AIG', 'CL', 'CMCSA', 'CAH', 'SNPS',
       'MCK', 'SCHW', 'FITB', 'REGN', 'KO', 'TRV', 'NTRS', 'INCY', 'T', 'INTC',
       'ADP', 'IBM', 'LUV', 'AMGN', 'STT', 'JCI', 'DUK', 'AJG', 'MPWR'],
      dtype='object')
A       307.0
AAPL     33.0
ABT     336.0
ACGL    214.0
ACN     334.0
        ...
XEL     319.0
XOM     240.0
YUM     126.0
ZBH      56.0
ZBRA     74.0
Name: 2004-12-31 00:00:00, Length: 395, dtype: float64
Index(['MU', 'VRTX', 'IPG', 'IVZ', 'BMY', 'MRK', 'PFE', 'MMC', 'CMS', 'AON',
       'CDNS', 'FITB', 'LLY', 'BAX', 'ADP', 'DUK', 'INCY', 'AIG', 'REGN',
       'NDAQ', 'T', 'KR', 'NTRS', 'MPWR', 'SNPS', 'SCHW', 'IBM', 'CL', 'HD',
       'MCK', 'MKTX', 'WMT', 'MSFT', 'KO', 'TER', 'MDT', 'COR', 'TRV', 'LUV'],
      dtype='object')
A       335.0
AAPL     25.0
ABT     343.0
ACGL    219.0
ACN     319.0
        ...
XEL     297.0
XOM     225.0
YUM     154.0
ZBH      61.0
ZBRA     82.0
Name: 2005-01-31 00:00:00, Length: 396, dtype: float64
Index(['MU', 'IPG', 'MRK', 'PFE', 'BMY', 'IVZ', 'VRTX', 'CDNS', 'MPWR', 'NDAQ',
       'MMC', 'FITB', 'BAX', 'MKTX', 'REGN', 'TER', 'LLY', 'AON', 'CMS',
       'NTRS', 'INTC', 'CRM', 'LUV', 'T', 'BK', 'KR', 'ADP', 'LVS', 'SNPS',
       'WMT', 'HD', 'SCHW', 'STT', 'PAYX', 'AMAT', 'AIG', 'COR', 'CTAS', 'FI'],
      dtype='object')
A       330.0
AAPL     19.0
ABT     341.0
ACGL    201.0
ACN     337.0
        ...
XEL     270.0
XOM     164.0
YUM     162.0
ZBH      68.0
ZBRA     79.0
Name: 2005-02-28 00:00:00, Length: 396, dtype: float64
Index(['MU', 'IPG', 'MPWR', 'MRK', 'BMY', 'MKTX', 'PFE', 'VRTX', 'LUV', 'REGN',
       'FITB', 'MMC', 'IVZ', 'TER', 'BAX', 'CDNS', 'LLY', 'WMT', 'BIIB', 'AON',
       'T', 'KR', 'NTRS', 'HD', 'MTCH', 'ADP', 'TRV', 'COR', 'MDLZ', 'IP',
       'FI', 'SCHW', 'NDAQ', 'AIG', 'IT', 'STT', 'VZ', 'AJG', 'ORCL'],
      dtype='object')
A       363.0
AAPL     19.0
ABT     306.0
ACGL    168.0
ACN     342.0
        ...
XEL     286.0
XOM     187.0
YUM     112.0
ZBH      63.0
ZBRA     82.0
Name: 2005-03-31 00:00:00, Length: 396, dtype: float64
Index(['VRTX', 'IPG', 'MU', 'REGN', 'TER', 'MKTX', 'IVZ', 'MMC', 'FITB', 'PFE',
       'MRK', 'BAX', 'BIIB', 'AMAT', 'KR', 'LLY', 'AON', 'BMY', 'NTRS', 'LUV',
       'AIG', 'MTCH', 'BK', 'WMT', 'KO', 'ADP', 'CDNS', 'KLAC', 'T', 'IT',
       'STT', 'HD', 'SNPS', 'A', 'COR', 'CAH', 'CTAS', 'FI', 'TRV'],
      dtype='object')
A       352.0
AAPL     26.0
ABT     300.0
ACGL    215.0
ACN     326.0
        ...
XEL     301.0
XOM     165.0
YUM     167.0
ZBH      55.0
ZBRA     85.0
Name: 2005-04-30 00:00:00, Length: 397, dtype: float64
Index(['IPG', 'TER', 'VRTX', 'MU', 'MMC', 'FITB', 'MKTX', 'AON', 'KR', 'IVZ',
       'REGN', 'AMAT', 'DLTR', 'LVS', 'AIG', 'PFE', 'CTAS', 'F', 'MRK', 'DXCM',
       'TRV', 'KLAC', 'COR', 'KO', 'IT', 'BAX', 'HD', 'MTCH', 'MPWR', 'WMT',
       'AJG', 'MDLZ', 'CDNS', 'CE', 'AVY', 'JKHY', 'LUV', 'CAH', 'CRM'],
      dtype='object')
A       283.0
AAPL     27.0
ABT     267.0
ACGL    192.0
ACN     308.0
        ...
XEL     208.0
XOM     188.0
YUM     156.0
ZBH      79.0
ZBRA    136.0
Name: 2005-05-31 00:00:00, Length: 397, dtype: float64
Index(['IPG', 'MKTX', 'MU', 'FITB', 'MMC', 'MRK', 'DLTR', 'LVS', 'F', 'MPWR',
       'KR', 'IVZ', 'MDLZ', 'IP', 'TER', 'CTAS', 'KO', 'PFE', 'COR', 'AJG',
       'AVY', 'BAX', 'AIG', 'WMT', 'T', 'ADP', 'AON', 'CDNS', 'AMAT', 'LUV',
       'PAYX', 'CE', 'SNPS', 'BK', 'CL', 'BMY', 'NOC', 'NTRS', 'CAH'],
      dtype='object')
A       277.0
AAPL     26.0
ABT     196.0
ACGL    201.0
ACN     301.0
        ...
XEL     135.0
XOM     225.0
YUM     149.0
ZBH      95.0
ZBRA    103.0
Name: 2005-06-30 00:00:00, Length: 398, dtype: float64
Index(['IPG', 'FITB', 'MKTX', 'MMC', 'MU', 'DLTR', 'LVS', 'IP', 'MRK', 'KO',
       'SNPS', 'CTAS', 'PFE', 'MDLZ', 'TER', 'AJG', 'F', 'WMT', 'AIG', 'AVY',
       'NOC', 'LUV', 'COR', 'CAG', 'BLDR', 'MPWR', 'CE', 'INTU', 'IVZ', 'LMT',
       'CINF', 'BK', 'KR', 'T', 'ADP', 'AON', 'CL', 'MSFT', 'CAH'],
      dtype='object')
A       187.0
AAPL     19.0
ABT     310.0
ACGL    230.0
ACN     245.0
        ...
XEL      50.0
XOM     223.0
YUM     215.0
ZBH     121.0
ZBRA    190.0
Name: 2005-07-31 00:00:00, Length: 400, dtype: float64
Index(['MKTX', 'FITB', 'IPG', 'MMC', 'MRK', 'LVS', 'PFE', 'IP', 'MU', 'WBD',
       'MDLZ', 'KO', 'DLTR', 'EXPE', 'DXCM', 'MPWR', 'AVY', 'AIG', 'WMT',
       'CAG', 'LMT', 'NOC', 'AJG', 'CL', 'LLY', 'CTAS', 'KR', 'F', 'VRTX',
       'SNPS', 'LUV', 'COR', 'WTW', 'KMB', 'BIIB', 'UPS', 'BK', 'CAH', 'AOS',
       'CE'],
      dtype='object')
A        69.0
AAPL     17.0
ABT     296.0
ACGL    256.0
ACN     248.0
        ...
XEL     119.0
XOM     189.0
YUM     239.0
ZBH     121.0
ZBRA    232.0
Name: 2005-08-31 00:00:00, Length: 401, dtype: float64
Index(['MKTX', 'FITB', 'MMC', 'MRK', 'LVS', 'IPG', 'PFE', 'MDLZ', 'WMT',
       'MPWR', 'EXPE', 'IP', 'KO', 'AVY', 'WBD', 'NOC', 'CF', 'CAG', 'MU',
       'CTAS', 'CL', 'LUV', 'AIG', 'CAH', 'BK', 'LMT', 'COR', 'LLY', 'DLTR',
       'AJG', 'INTU', 'BRK-B', 'DXCM', 'KMB', 'TJX', 'SNPS', 'STE', 'AOS',
       'BMY', 'CE'],
      dtype='object')
A        67.0
AAPL     17.0
ABT     345.0
ACGL    232.0
ACN     216.0
        ...
XEL     117.0
XOM     162.0
YUM     228.0
ZBH     210.0
ZBRA    241.0
Name: 2005-09-30 00:00:00, Length: 402, dtype: float64
Index(['FITB', 'LVS', 'MRK', 'EXPE', 'MKTX', 'IPG', 'CF', 'MMC', 'WBD', 'WMT',
       'PFE', 'MDLZ', 'NOC', 'AMP', 'MPWR', 'KO', 'IP', 'STE', 'AVY', 'LMT',
       'CL', 'DXCM', 'UHS', 'CTAS', 'INTU', 'CE', 'BRK-B', 'LLY', 'AZO', 'COR',
       'CAH', 'CAG', 'GIS', 'KMB', 'DLTR', 'UPS', 'IFF', 'SYY', 'BMY', 'PKG'],
      dtype='object')
A        68.0
AAPL     17.0
ABT     337.0
ACGL    208.0
ACN     244.0
        ...
XEL     166.0
XOM     206.0
YUM     124.0
ZBH     246.0
ZBRA    238.0
Name: 2005-10-31 00:00:00, Length: 402, dtype: float64
Index(['MRK', 'FITB', 'PFE', 'LVS', 'MKTX', 'MMC', 'EXPE', 'MDLZ', 'CF', 'WBD',
       'STE', 'WMT', 'IP', 'CTAS', 'DLTR', 'INTU', 'VZ', 'AMP', 'KO', 'AZO',
       'AVY', 'IPG', 'CAH', 'TAP', 'BMY', 'CL', 'LLY', 'IFF', 'MTCH', 'SYY',
       'IBM', 'NOC', 'MU', 'MSFT', 'UHS', 'DTE', 'TJX', 'JNJ', 'CE', 'CAG'],
      dtype='object')
A       129.0
AAPL      9.0
ABT     373.0
ACGL    207.0
ACN     258.0
        ...
XEL     164.0
XOM     198.0
YUM     152.0
ZBH     210.0
ZBRA    231.0
Name: 2005-11-30 00:00:00, Length: 403, dtype: float64
Index(['MRK', 'SWKS', 'IPG', 'PFE', 'MKTX', 'FITB', 'MMC', 'ICE', 'LLY',
       'MDLZ', 'VZ', 'IP', 'DLTR', 'LVS', 'SNPS', 'WMT', 'F', 'CF', 'CTAS',
       'BMY', 'WBD', 'KO', 'AVY', 'MTCH', 'CAG', 'IFF', 'TTWO', 'EXPE', 'IBM',
       'LUV', 'ABT', 'INTU', 'CE', 'MSFT', 'ORCL', 'T', 'AMP', 'AIG', 'GIS',
       'JNJ'],
      dtype='object')
A       134.0
AAPL      8.0
ABT     355.0
ACGL    221.0
ACN     243.0
        ...
XEL     193.0
XOM     226.0
YUM     180.0
ZBH     231.0
ZBRA    224.0
Name: 2005-12-31 00:00:00, Length: 405, dtype: float64
Index(['MKTX', 'FITB', 'MRK', 'IPG', 'MDLZ', 'PFE', 'MMC', 'SWKS', 'LVS', 'VZ',
       'ICE', 'PARA', 'CF', 'CAG', 'WMT', 'WBD', 'CTAS', 'KO', 'IFF', 'AVY',
       'LLY', 'EXPE', 'IP', 'SNPS', 'F', 'DTE', 'AMP', 'STE', 'IBM', 'SYY',
       'DLTR', 'GIS', 'CL', 'CMCSA', 'T', 'MSFT', 'BMY', 'JNJ', 'UHS', 'AJG'],
      dtype='object')
A       133.0
AAPL     10.0
ABT     328.0
ACGL    248.0
ACN     209.0
        ...
XEL     201.0
XOM     204.0
YUM     173.0
ZBH     258.0
ZBRA    227.0
Name: 2006-01-31 00:00:00, Length: 406, dtype: float64
Index(['FITB', 'MKTX', 'MRK', 'MMC', 'IPG', 'PFE', 'PARA', 'VZ', 'WBD', 'CAG',

,A,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,ADM,...,WTW,WY,WYNN,XEL,XOM,XYL,YUM,ZBH,ZBRA,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2005-11-30,0.0,-0.025,0.0,0.0,0.025,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,-0.025,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2005-12-31,0.0,-0.025,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,-0.025,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2006-01-31,0.0,-0.025,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,-0.025,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2006-02-28,0.0,-0.025,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,-0.025,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2006-03-31,0.0,-0.025,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,-0.025,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-10-31,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.021739
2013-11-30,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.021739
2013-12-31,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.021739
2014-01-31,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.021739
2014-02-28,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.021739,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.021739

In [115]:
def evaluate_portfolio_holding_period_monthly(weights_df, monthly_returns, holding_period_months= 36):
    portfolio_total_returns = {}

    monthly_dates = monthly_returns.index

    for formation_date, weights in weights_df.iterrows():
        start_idx = monthly_dates.get_indexer([formation_date], method='nearest')[0]

        end_idx = start_idx + holding_period_months

        holding_period = monthly_returns.iloc[start_idx:end_idx]

        monthly_portfolio_returns = (holding_period * weights).sum(axis=1)

        total_return = (1 + monthly_portfolio_returns).prod() - 1

        portfolio_total_returns[formation_date] = total_return

    return pd.Series(portfolio_total_returns)

In [116]:
portfolio_returns = evaluate_portfolio_holding_period_monthly(weights_df, monthly_ret_df, 36)
portfolio_returns

2005-11-30   -0.209824
2005-12-31   -0.067492
2006-01-31   -0.160025
2006-02-28   -0.066853
2006-03-31   -0.170957
                ...
2023-08-31   -0.041539
2023-09-30    0.000820
2023-10-31    0.052903
2023-11-30    0.066463
2023-12-31    0.028303
Length: 218, dtype: float64

In [118]:
total = portfolio_returns.sum()
total

-28.38663584709678